    {{> head}}

    {{> navbar }}

        <div class="column">
            <div class="col-8">
            <h1>ASAP</h1>
            </div>
            <div class="col-4">
                <img src="assets/img/ansible.png" alt="Ansible" class='img-thumbnail'>
            </div>
        </div>

    {{> footer}}